<!-- Top Bar for Social Media and Discount -->
    <div class="top-bar" id="topBar">
        <div class="container d-flex justify-content-between align-items-center">
            <span class="discount-message">Get 20% off on your first order!</span>
            <div class="social-icons">
                <a href="https://facebook.com/yourbrand" class="social-icon" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/yourbrand" class="social-icon" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com/yourbrand" class="social-icon" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>